body{
	/*text-align:center;*/
font-family:Verdana,Geneva,Arial,sans-serif;
font-size:small;
}
h1,h2{
color:#cc6600;
/*text-decoration:underline;*/
border-bottom:thin dotted #888888;
}
h1{
font-family:sans-serif;
font-size:220%;
}
h2{
font-size:130%;
font-weight:normal;
}
blockquote{
font-style:italic;
}
table{
	margin-left:20px;
	margin-right:20px;
	border:thin solid black;
	caption-side:bottom;
	/*border-spacing:0px;*/
	border-collapse:collapse;
}
th,td{
	border:thin dotted gray;
	padding:5px;
}
caption{
	font-family:italic;
	padding-top:8px;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
/*tr:nth-child(odd){
	background-color:#fcba7a;
}*/
th{
	background-color:#cc6600;
}
.cellcolor{
	background-color:#fcba7a;
}
table table th{
	background-color:#b5a789;

}
li{
	list-style-image:url(images/backpack.gif);
	padding-top:5px;
	margin-left:20px;
}
#content{
	background-color:#b5a789;
	margin-left:20%;
	margin-right:20%;
	border:thin solid gray;
	padding:10px;

}